---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@components/Main.astro";
import HR from "@components/HR.astro";
let posts = await getCollection("posts");

const tags: string[] = [];
posts.map((post) => {
  post.data.tags.map((tag) => {
    if (!tags.includes(tag)) tags.push(tag);
  });
});

posts = posts
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  )
  .slice(0, 6);
---

<Layout title="Homepage">
  <Main>
    <section class="">
      <h1>Hi there, I'm Shawn <span class="text-primary">Kost</span> 👋</h1>
      <p class="my-4">
        I'm a software engineer and I write about programming, web development,
        and other tech topics. I am currently teaching at a Web Development
        bootcamp, and I am also a mentor at a coding bootcamp. I am passionate
        about teaching and helping others learn to code.
      </p>
      <div class="social-wrapper">
        <div>Social Links:</div>
      </div>
    </section>
    <section class="pt-14">
      <h2 class="text-xl">Recent Posts</h2>
      <ul>
        {
          posts.map((post) => (
            <li class="my-6">
              <a
                class="inline-block text-lg font-medium text-primary decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
                href={`/posts/${post.slug}`}
              >
                <h3 class="text-lg decoration-dashed hover:underline">
                  {post.data.title}
                </h3>
              </a>
              <p class="text-sm">
                Updated: {post.data.date.toLocaleDateString()}
              </p>
            </li>
          ))
        }
      </ul>
    </section>

    <p class="py-4">
      <a class="underline" href={"/posts/page/1"}>See all posts ▶︎</a>
    </p>

    <p class="my-4">Explore by tag:</p>
    <div class="my-4 space-x-2">
      {
        tags.map((tag) => (
          <a
            href={`/tag/${tag}`}
            class="rounded-lg border border-black px-2 py-1"
          >
            {tag}
          </a>
        ))
      }
    </div>
  </Main>
</Layout>
